<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i id="headIcon" class="newspaper outline icon"></i>Blog App</div>
            <a href="/blogs" class="item">Home</a>
            <% if(currentUser){ %> 
            <a href="/myblogs" class="item">My Blogs</a>
            <% } %> 
            <a href="/blogs/new" class="item">New Blogs</a>
            <div class="right menu">
                <% if(!currentUser){ %> 
                <div class="item">
                    <a href="/register" class="ui primary button">Sign up</a>
                </div>
                <div class="item">
                    <a href="/login" class="ui button">Log-in</a>
                </div>
                <% } else { %> 
                <div class="item">
                    <a href="/logout" class="ui button">Logout</a>
                </div>
                <% } %> 
            </div>
        </div>
    </div>
