<%- include ('./partials/header') -%> 
<div class="ui main text container">
    <div class="ui top attachment segment middle one column centered grid">
        <div class="ui center middle aligned column">
            <h2 class="ui header">You don't have permission!</h2>
        </div>
    </div>
</div>
<%- include ('./partials/footer') -%> 